@primaryColor: var(--primaryColor);
@primaryColorDarken: var(--primaryColorDarken);

@indexViewColor: var(--indexViewColor);

@tableColor: var(--tableColor);

@primaryFontFamily: var(--primaryFontFamily);

@liHeight: 40px;

@my-font-family: '华文中宋';

//文字渐变色
.wordGradientColor(@color1,@color2) {
  background-image: -webkit-gradient(linear, left 0, right 0, from(@color1), to(@color2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// //背景渐变色
// .bgGradientColor(@color1,@color2,@color3) {
//   background: linear-gradient(to bottom right, @color1, @color2, @color3);
// }
